.Help-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hospital-1,
.Hospital-4 {
    background-color: green;
}

.Hospital-2,
.Hospital-5 {
    background-color: orange;
}

.Hospital-3,
.Hospital-6 {
    background-color: red;
}

.Hospital-1,
.Hospital-2,
.Hospital-3,
.Hospital-4,
.Hospital-5,
.Hospital-6 {
    width: 400px;
    height: 80px;
    margin: 10px;
    text-align: left;
    line-height: 1;
    color: black;
}
