.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.About-us{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 700px;
}
